.light-mode {
  --table-bg-color: white;
  --table-text-color: black;
  --modal-bg-color: white;
  --modal-text-color: black;
  --close-btn-color: black;
  --modal-border-color: var(--modal-text-color); /* Set border color to text color */
}

.dark-mode {
  --table-bg-color: black;
  --table-text-color: white;
  --modal-bg-color: black;
  --modal-text-color: white;
  --close-btn-color: white;
  --modal-border-color: var(--modal-text-color); /* Set border color to text color */
}

.custom-table thead th,
.custom-table tbody tr th,
.custom-table tbody td {
  background-color: var(--table-bg-color);
  color: var(--table-text-color);
}

.modal-content {
  background-color: var(--modal-bg-color);
  color: var(--modal-text-color);
  border: 1px solid var(--modal-border-color); /* Add border with text color */
}

.btn-close {
  color: var(--close-btn-color);
}

.dark-mode .btn-close {
  filter: invert(1);
}

.bar {
  width: 33px;
  height: 3px;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

/* Hamburger menu icon animation for open state */
.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 4px) scaleX(1); /* Adjust the scaleX value to visually equalize the size */
}

.open .bar:nth-child(2) {
  transform: rotate(45deg) translate(-5px, -4px) scaleX(1); /* Adjust the scaleX value to visually equalize the size */
}

/* Media query for smaller screens */
@media (max-width: 990px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
  }

  .navbar-links li {
    margin: 10px 0;
  }

  .navbar-links li a {
    color: white;
  }

  .open .bar {
    margin: 6; /* Remove 'px' unit here to avoid CSS syntax error */
  }
}




